#icon1{
    margin-top: -12%;
}

#icon2{
    margin-top: -12%;
}

#icon3{
    margin-top: -12%;
}

#icon4{
    margin-top: 15%;
}

#icon5{
    margin-top: 28%;
}

#icons1{
    margin-top: -19%;
}

#icons2{
    margin-top: -19%;
}

#icons3{
    margin-top: -19%;
}

#icons4{
    margin-top: -19%;
}

#icons5{
    margin-top: -19%;
}

#icons6{
    margin-top: 56%;
}

#icons7{
    margin-top: 77%;
}

#buttonBusqueda{
    margin-left: 13%;
}



