#tabla_produccion{
    left: 19.5%;
    transform: translateY(100px);
    width: 1180px;   
}

#buttonBusqueda{
    transform: translateX(320%);
}

#tabla_id{
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
}

.input-icon{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 20px;
    top: 50%;
    transform: translateY(-130px);
}

.mb-3 input{
    transform: translateX(40px);
    width: 410px;
    height: 50px;
}

.form-select{
    transform: translateX(40px);
    width: 410px !important;
    height: 50px;
}

::placeholder{
    transform: translateX(5px);
}

.icon2{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 20px;
    top: 50%;
    transform: translateY(-66px);
}

.icon3{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 20px;
    top: 50%;
    transform: translateY(1px);
}

.form-select{
    transform: translateX(40px);
    width: 410px;
    height: 50px;
}

#icons1{
    width: 25px !important;
    position: absolute;
    height: 30px;
    width: 30px;
    left: 20px;
    top: 50%;
    transform: translateY(-214px);
}

#icons2{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 20px;
    top: 50%;
    transform: translateY(-108px);
}

#icons3{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 20px;
    top: 50%;
    transform: translateY(-5px);
}

#icons4{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 20px;
    top: 50%;
    transform: translateY(100px);
}

#icons5{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 20px;
    top: 50%;
    transform: translateY(205px);
}

.horizontal-line {
    margin-top: -193%;
    width: 210px; 
    height: 1.5px !important;
    background-color: #ebebeb; 
    position: absolute; 
    left: 17px;
    border-radius: 25px;
  }

.alert-info{
    top: 13%;
    margin-left: 19.5%;
    width: 77%;
}

.alert h4{
    justify-content: center;
    text-align: center;
    font-size: x-large;
}
  

