#body {
  overflow-x: hidden;
  background-color: rgb(216, 224, 244);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#imgUsuario{
  transform: translateX(78%);
}

#mynavbar{
  transform: translateX(13%);
}

#nav{
  transform: translateX(20%);
  width: 84%;
  position: fixed;
  top: 0;
  z-index: 1000;
}
  
ul {
  list-style-type: none !important;
  transform: translateY(-15%);
  padding: 0;
  margin: 0;
}
  
li {
  width: 250px;
  display: flex;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none !important;
}
  
a li {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 5px; 
  text-align: center;
}
  
#navVertical a:hover {
  background-color: #0077ff; 
  width: 101%;
}

#imgUsuario p{
  font-size: larger;
  transform: translateX(-610px);
  margin-right: -6% !important;
  max-height: 5px;
}

.vertical-line {
  width: 1px;
  height: 45px;
  background-color: #636161;
  position: absolute;
  right: 24%; 
}

#navVertical {
  width: 16.7%; 
  height: 100vh; 
  background-color: #204ed7;
  position: fixed; 
  top: 0; 
  left: 0;
  z-index: 1000;
}

#navVertical img{
  margin-top: -13%;
  transform: translateX(5%);
}

#iconHome{
  margin-block: -12%;
  width: 30px;
}

.category-list {
  padding: 0;
  display: flex;
  flex-direction: column; 
}

.category-item {
  display: flex;
  align-items: center; 
  text-align: center;
  margin: 4%;
}

.category-item img {
  width: 50px;
  height: 50px;
}

a span {
  padding-left: 6%;
}

.horizontal-line {
  margin-top: -193%;
  width: 210px; 
  height: 2px !important;
  background-color: #ebebeb; 
  position: absolute; 
  left: 17px;
  border-radius: 25px;
}

#NomUsuario{
  margin-left: 30px;
  justify-content: center;
  text-align: center;
}



.round{
  width:30px;
  height:20px;
  border-radius:50%;
  position:relative;
  background:red;
  display:inline-block;
  padding:0.3rem 0.2rem !important;
  margin:0.3rem 0.2rem !important;
  left:18.7%;
  top:8px;
  z-index: 999 !important;
}
.round > span {
  color:white;
  text-align:center !important;
  font-size:1rem !important;
  padding:-10px !important;
}

#numN{
    font-size:1rem !important;
    color:white;
    transform: translateY(-24%);
}
#list{
  max-height: 730%;
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
  top: 68px;
  position: absolute;
  right: 2%;
  background:#ffffff;
  z-index:100 !important;
  width: 25vw;
  margin-left: -37px; 
  padding:0 !important;
  margin:0 auto !important;
}

#cam img{  
    margin-top: 4% !important;
    transform: translateX(950%);
    z-index: 20 !important;
    
}
.message > span {
   width:100%;
   display:block;
   color:red;
   text-align:justify;
   margin:0.2rem 0.3rem !important;
   padding:0.2rem !important;
   line-height:2rem !important;
   font-weight:bold;
   border-bottom:2px solid white;
   font-size:1.2rem !important;
 }

.message > .msg {
   height: 60px;
   width: 336px !important;
   margin:0.2rem 0.3rem !important;
   padding:0.3rem 0.2rem !important;
   text-align:justify;
   font-weight:bold;
   display:block;
   word-wrap: break-word;
}

.message_items{
  font-family: 'Open Sans', sans-serif !important;
  font-family: 'Roboto', sans-serif !important;
  font-family: 'Shadows Into Light', cursive !important;
  font-family: 'Sometype Mono', monospace !important;
}

.message p{
  margin-top: -17% !important;
  margin-left: 18% !important;
  font-size: 105% !important;
}

.msg img{
  margin-top: 4%;
}

#notification-bell {
  cursor: pointer;
}

#modal {
  width: 15%;
  display: none;
  position: fixed;
  top: 7%;
  right: 8%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

#cerrar {
  cursor: pointer;
  float: right;
}

#modal a{
    cursor: pointer;
  margin-left: 7%;
}

#modal p:hover a{
    color: blue;
}

#modal img{
  margin-top: 1%;
}



  
  
  
  
  
  
  
  
  