#img1{
    margin-top: -18%;
}

#img2{
    margin-top: -5%;
}

#img3{
    margin-top: 8%;
}

#img4{
    margin-top: 21%;
}

#img5{
    margin-top: 34%;
}

#img6{
    margin-top: 48%;
}

#icons1{
    margin-top: -34%;
}

#icons2{
    margin-top: -34%;
}

#icons3{
    margin-top: -34%;
}

#icons4{
    margin-top: -34%;
}

#icons5{
    margin-top: -7%;
}

#icons6{
    margin-top: 68%;
}

#icons7{
    margin-top: 89%;
}